form {
    display: flex;
    flex-direction: column;
}

button {
    width: 100px;
}

.delete {
    background-color: rgb(255, 2, 2);
}

.cancel{
    background-color: white;
    color: black;
    margin-left: 10px;
}