form {
    display: flex;
    flex-direction: column;
}

button {
    width: 100px;
}

.save {
    background-color: rgb(1, 101, 178);
}

.cancel{
    background-color: white;
    color: black;
    margin-left: 10px;
}