
<mat-card>
    <mat-card-title>Delete Partner</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Name" [(ngModel)]="partner.name" name="Name">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Projects" [(ngModel)]="partner.projects" name="Projects">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="City" [(ngModel)]="partner.city" name="City">
        </mat-form-field>
    </form>

<button mat-raised-button class="delete" (click)="deletePartner()">
    Delete
</button>
<button mat-raised-button class="cancel" (click)="cancel()">
    Cancel
</button>
</mat-card>
