form{
    display: flex;
    flex-direction: column;
}

button {
    width: 100px;
}

.save {
    background-color: #0165b2;
}

.cancel {
    margin-left: 10px;
    background-color: white;
    color: black;
}